<!DOCTYPE html>
<html>
<head>
	<title>Material Design</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/mdb.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav class="navbar unique-color">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand waves-effect waves-light" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="waves-effect waves-light">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#" class="waves-effect waves-light">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
          				<li><a href="javascript:void(0)" id="view-sign-up" class="waves-effect waves-light">SignUp</a></li>
          			</ul>
                </div>
            </div>
    </nav>
	    <div class="container" id="signup-cnt">
	    	<div class="row">
	    		<form class="form col-md-12 z-depth-6 card-panel">
	    			<div class="row">
	    				<div class="input-field col-md-12">
	    					<p class="text-center">Material Design Registration Form</p>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="input-field col-md-12">
	    					<i class="material-icons prefix">account_circle</i>
	    					<input type="text" id="first-name" class="validate">
	    					<label for="first-name">First Name</label>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="input-field col-md-12">
	    					<i class="material-icons prefix">account_circle</i>
	    					<input type="text" id="last-name" class="validate">
	    					<label for="last-name">Last Name</label>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="input-field col-md-12">
	    					<i class="fa fa-envelope prefix" aria-hidden="true"></i>
	    					<input type="email" id="email" class="validate">
	    					<label for="email">Email</label>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="input-field col-md-12">
	    					<i class="fa fa-lock prefix" aria-hidden="true"></i>
	    					<input type="password" id="password" class="validate">
	    					<label for="password">Password</label>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="input-field col-md-12">
	    					<a class="btn btn-default btn-block waves-effect waves-light">Register Now</a>
	    				</div>
	    			</div>
	    		</form>
	    	</div>
	    </div>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/mdb.min.js"></script>
</body>
</html>